:root { 
    --primary-color: white;
    --primary-font: "Pokemon1", "Sans-Serif";
    --bold-font: "Pokemon2", "Sans-Serif";
    --maxwidth: 32rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.visually-hidden { /*Code om H1 te verstoppen van Ingmar gekregen*/
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body { 
    background-color: #0f224a;
    color: white;
    margin:0;
    padding:0;
    grid-template-columns: minmax(auto, var(--maxWidth));
}

@font-face {
    font-family: 'Pokemon1';
    src: url('../fonts/pokemonGoFont2.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Pokemon2';
    src: url('../fonts/pokemonGoFont1.woff2');
    font-weight: bold;
}

h1 { 
    font-family: var(--bold-font);
    font-size: 1.7em;
    color: var(--primary-color);
}

h2 {
    font-family: var(--bold-font);
}

h3 {
    font-family: var(--primary-font);
}

p {
    font-family: var(--primary-font);
    position: centre;
}

header {
    z-index: 1000000;
}

article {
    border-width: 2px;
    border-style: solid;
    border-color:gray;
}

main div:nth-of-type(1) {
    display: flex;
    justify-content: center;
}

iframe {
    border-width: 10px;
    border-style: solid;
    margin: 33px;
    width: 350px;
    height: 350px;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background-color: #0f224a;
    display: flex;
}

header img {
    width: auto;
    height: 48px;
}

header button {
    width: auto;
    height: 48px;
    position: absolute;
    right: 0;
    background-color:#0f224a;
    border: none;
}

header a {
    padding:.5em 0;
    color:white;
    text-decoration: none;
}

nav {
    display: grid;
    position: fixed;
    justify-content: end;
    background-color: #0061af;
    translate: 0% 0%;
    gap: 1em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0f224ad4;
    margin-top: 4.2rem;
    z-index: 1000;
    translate: -100% 0%;
    font-family: var(--primary-font);
    text-align: right;
    line-height: 50px;
    padding-right: 30px;
}

nav.toonMenu {
    translate: 0% 0%;
}

body.toonMenu {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    z-index: 2000;
}

main section:nth-of-type(1) {
    background-image: url("../images/bgworldpink.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%
}

main section:nth-of-type(1) img {
    width: 95%;
    padding: 1em;
}

main section:nth-of-type(1) p, main section:nth-of-type(2) p {
    padding:1em;
}

main section:nth-of-type(1) a, main section:nth-of-type(2) a {
    background-color: white;
    border-radius: 50px;
    padding: 8px 20px 8px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #0f224a;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
}

main section:nth-of-type(2) {
    background-image: url("../images/bgorange.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%;
}

main section:nth-of-type(2) p {
    margin-top: -1.5em;
} 

img {
    display: block;
    height: auto;
    max-width: 100vw;
    object-fit: cover;
}

.logomaxout { 
    width: 45%;
    padding: 1em;
}

.pokemonimg3 {
    padding: 30px;
}

main section:nth-of-type(3) {
    background-image: url("../images/bgstripes.webp");
    background-size: cover;
    padding: 20px 0px 50px 0px;
}

main section:nth-of-type(3) { 
    color: black;
    text-align: center;
    font-weight: bold;
}

main section:nth-of-type(3) ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
    padding: 0;
}

main section:nth-of-type(3) ul li a img {
    width: 350px;
    margin: 10px;
    border-radius: 10px;
}

main section:nth-of-type(3) > a {
    background-color: white;
    border-radius: 50px;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    color: #0061af;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #0061af;
}

main section:nth-of-type(4) {
    background-image: url("../images/bluebg.webp");
    background-size: cover;
    padding: 20px 0px 0px 0px;
}

main section:nth-of-type(4) h2, h3 {
    margin-left: 120px;
    line-height: 10px;
}

main section:nth-of-type(4) h2 {
    padding-top: 30px;
}

main section:nth-of-type(4) p {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-left: 10px;
}

.poke {
    width: 95px;
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}

main section:nth-of-type(5) {
    background-image: url("../images/pokestopvierkant.png");
    background-size: cover;
    background-position: center center;
    padding: 10px 0px 300px 0px;
    color: black;
    text-align: center;
}

main section:nth-of-type(5) p {
    margin: 23px;
    line-height: 22px;
}

main section:nth-of-type(5) h2 {
    font-size: 1.8em;
}

.rocket {
    width: 70px;
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}

main section:nth-of-type(6) {
    background-image: url("../images/pokemoncitybg.jpg");
}

main section:nth-of-type(6) h2 {
    margin-left: 90px;
    margin-top: 0px;
    padding-top: 40px;
}

main section:nth-of-type(6) p {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 20px;
}

main section:nth-of-type(6) button {
    background: none;
    border: none;
}

main section:nth-of-type(6) div {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto 1fr;
    gap: 0px;
    position: absolute;
    left: -100px;
}

main section:nth-of-type(6) div h2 {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: -100px;
    margin-left: 10px;
}

main section:nth-of-type(6) div button:nth-of-type(1) {
    grid-row: 2;
    grid-column: 1;
    scale: 20%;
    margin-left: -30px;
}

main section:nth-of-type(6) div button:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2;
    scale: 20%;
    margin-left: -110px;
}

main section:nth-of-type(6) ul {
    background-image: url("../images/blueskybg.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-position: 0px;
    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
    padding: 0;
    width: 60%;
    margin-left: auto;
    margin-bottom: 0px;
}

main section:nth-of-type(6) ul li a img {
    width: 140px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: -120px;
    margin-right: 150px;
    margin-left: 70px;
}

main section:nth-of-type(7) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bggreen.jpg");
    background-size: cover;
    background-position: center center;
    padding: 30px 0px 90px 0px;
    color: white;
    text-align: center;
    width: 100%;
}

main section:nth-of-type(7) h2:first-of-type {
    margin-bottom: 50px;
    width: 50%
}

/* download knoppen apple google galaxy */
main section:nth-of-type(7) img {
    width: 40%;
    margin-bottom: 10px;
}

/* pokemon go logo */
main section:nth-of-type(7) img:first-of-type {
    max-width: 300px;
    margin-bottom: 20px;
}

footer section:nth-of-type(1) {
    background-color: white;
    padding-top: 20px;
}

footer section:nth-of-type(2) {
    background-color: white;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 20px 50px 50px 80px;
    row-gap: 5px; 
}

footer section:nth-of-type(2) a {
    color: #18242e;
    text-decoration: none;
    font-family: var(--primary-font);
}

footer section:nth-of-type(3) {
    background-color: white;
    color: #18242e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 50px 20px;
}

footer section:nth-of-type(3) img {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
}

footer section:nth-of-type(3) img:last-of-type {
    width: 15%;
    margin-left: 20px;
    margin-right: 20px;
}

footer section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2f7f7;
    padding: 20px 20px 20px 20px;
}

footer section:nth-of-type(4) a {
    color: #18242e;
    text-decoration: none;
    font-family: var(--primary-font);
    line-height: 2.4;
}

footer section:nth-of-type(5) {
    font-size: 12px;
    line-height: 1.4;
    padding: 20px 20px 20px 20px;
    background-color: white;
    color: #18242e;
    text-align: center;
}

.citysafari {
    background-color: #234375;
}

.citysafari h2 {
    padding: 50px 20px 0px 20px;
    text-align: center;
    font-size: 30px;
}

.citysafari h3 {
    font-size: 24px;
    text-align: center;
    line-height: normal;
    margin-left: 0;
}

.citysafari p {
    text-align: center;
    margin: 20px 30px 20px 30px;
}

.citysafari img:nth-of-type(2) {
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.citysafari section:nth-of-type(1) {
    background-image: url("../images/bluebg.webp");
}

.citysafari section:nth-of-type(2) {
    background: white;
    margin: 0;
    width: 100%;
    color:#18242e;
    border-radius: 5px;
    margin: 20px auto;
    max-width: calc(100% - 60px);
    padding-bottom: 20px;
    justify-content: left;
}

.citysafari section:nth-of-type(2) h2 {
    color:#50465A;
    font-size: 36px;
    padding: 0;
    width: 84%;
    margin-bottom: 0;
}

.citysafari section:nth-of-type(2) h3 {
    font-family: var(--primary-font);
    font-size: 14px;
}

.citysafari section:nth-of-type(2) h4 {
    font-family: var(--primary-font);
    font-size: 14px;
}

.citysafari section:nth-of-type(2) p {
    font-size: 14px;
    width: 90%;
    margin-top: 0;
}

.citysafari section:nth-of-type(2) div p:first-of-type{
    text-align: left;
    margin-left: 15px;
} 

.citysafarilogo {
    margin-top: 20px;
    max-width: calc(100% - 60px);
    width: 100%;
    height: 312px;
}

.citysafari section:nth-of-type(2) a { 
    background-color: #0061af;
    border-radius: 50px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: white;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
}

.citysafari section:nth-of-type(2) div {
    font-size: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    line-height: 20px;
    padding-top: 20px;
    text-align: right;
    padding-left: 30px;
    padding-right: 20px;
    width: 95%;
}

.citysafari section:nth-of-type(2) div * {
    margin: 5px;
    padding: 0;
}

.citysafari section:nth-of-type(3) {
    background: #5A7298;
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: calc(100% - 40px);
    color: white;
    font-weight: 100;
}

.citysafari section:nth-of-type(3) p {
    font-size: 13px;
}

.citysafari section:nth-of-type(4) {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citysafari section:nth-of-type(4) p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-left: 110px;
    margin-right: 110px;
    font-weight: bold;
}

.citysafari section:nth-of-type(4) p:nth-of-type(1) {
    font-size: 16px;
    margin: 20px;
}

.citysafari section:nth-of-type(4) img {
    width: 40px;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 10px;
}

/* block 1 styling */
.citysafari section:nth-of-type(5) {
    background-image: none;
    background-color: white;
    width: 100%;
    color:#18242e;
    border-radius: 20px;
    margin: 20px auto;
    max-width: calc(100% - 60px);
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.citysafari section:nth-of-type(5) img {
    padding-top: 20px;
    width: 120px;
    margin-left: 118px;
    align-items: center;
}

.citysafari section:nth-of-type(5) h2 {
    color: black;
    font-size: 64px;
    padding: 0;
    margin: 10;
    width: 84%;
    margin-left: 30px;
    margin-top: 15px;
}

.citysafari section:nth-of-type(5) h3 {
    font-size: 32px;
    margin-bottom: 0;
}

.citysafari section:nth-of-type(5) p {
    font-size: 16px;
    width: 90%;
    margin-top: 0;
    text-align: left;
    margin-bottom: 30px;
}

.citysafari section:nth-of-type(5) a { 
    background-color: #fac665;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
}

.citysafari section:nth-of-type(5) div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0;
    margin-bottom: 20px;
    margin-left: -100px;
}

.citysafari section:nth-of-type(5) div img {
    width: 30px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

/* block 2 styling */
.citysafari section:nth-of-type(6) {
    background-image: none;
    background-color: white;
    width: 100%;
    color:#18242e;
    border-radius: 20px;
    margin: 20px auto;
    max-width: calc(100% - 60px);
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.citysafari section:nth-of-type(6) img {
    padding-top: 20px;
    width: 120px;
    margin-left: 118px;
    align-items: center;
}

.citysafari section:nth-of-type(6) h2 {
    color: black;
    font-size: 64px;
    padding: 0;
    margin: 10;
    width: 84%;
    margin-left: 30px;
    margin-top: 15px;
}

.citysafari section:nth-of-type(6) h3 {
    font-size: 32px;
    margin-bottom: 0;
}

.citysafari section:nth-of-type(6) p {
    font-size: 16px;
    width: 90%;
    margin-top: 0;
    text-align: left;
    padding-bottom: 0;
}

.citysafari section:nth-of-type(6) a { 
    background-color: #fac665;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 110px;
}

.citysafari section:nth-of-type(6) div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0;
    margin-bottom: 20px;
    margin-left: -100px;
    width: auto;
    position: static;
}

.citysafari section:nth-of-type(6) div img {
    width: 30px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}

/* block 3 styling */
.citysafari section:nth-of-type(7) {
    background-image: none;
    background-color: white;
    width: 100%;
    color:#18242e;
    border-radius: 20px;
    margin: 20px auto;
    max-width: calc(100% - 60px);
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.citysafari section:nth-of-type(7) img {
    padding-top: 20px;
    width: 120px;
    margin-left: 118px;
    align-items: center;
}

.walking {
    padding-top: 20px;
    margin-right: 118px;
    align-items: center;
}

.citysafari section:nth-of-type(7) h2 {
    color: black;
    font-size: 64px;
    padding: 0;
    margin: 10;
    width: 84%;
    margin-top: 15px;
}

.citysafari section:nth-of-type(7) h3 {
    font-size: 32px;
    margin-bottom: 0;
}

.citysafari section:nth-of-type(7) p {
    font-size: 16px;
    width: 90%;
    margin-top: 0;
    text-align: left;
    margin-bottom: 30px;
    padding-right: 20px;
}

.citysafari section:nth-of-type(7) p:last-child {
    color: gray;
}

.citysafari section:nth-of-type(7) a { 
    background-color: #fac665;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
}

.citysafari section:nth-of-type(7) div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0;
    margin-bottom: 20px;
    margin-left: -100px;
}

.citysafari section:nth-of-type(7) div img {
    width: 30px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}

/* block 4 styling */
.citysafari section:nth-of-type(8) {
    background-image: none;
    background-color: white;
    width: 100%;
    color:#18242e;
    border-radius: 20px;
    margin: 20px auto;
    max-width: calc(100% - 60px);
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.citysafari section:nth-of-type(8) h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.citysafari section:nth-of-type(8) ul {
    list-style-type: decimal;
    padding-bottom: 50px;
    padding-left: 60px;
}

.citysafari section:nth-of-type(8) ul li {
    font-family: var(--primary-font);
    line-height: 25px;
    padding-right: 30px;
}

.citysafari section:nth-of-type(8) a { 
    background-color: #fac665;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 110px;
}

/* block 5 styling */
.citysafari section:nth-of-type(9) {
    background-image: none;
    background-color: white;
    width: 100%;
    color:#18242e;
    border-radius: 20px;
    margin: 20px auto;
    margin-bottom: 100px;
    max-width: calc(100% - 60px);
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.citysafari section:nth-of-type(9) h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.citysafari section:nth-of-type(9) p {
    text-align: left;
    line-height: 1.5;
}

.citysafari section:nth-of-type(9) p:last-of-type {
    padding-bottom: 30px;
}

.citysafari section:nth-of-type(9) ul li {
    font-family: var(--primary-font);
    line-height: 25px;
    padding-right: 30px;
    margin-left: 20px;
}

.citysafari section:nth-of-type(9) a { 
    background-color: #fac665;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 110px;
}

.space {
    margin: 90px 3px 10px 5px;
}

.smalltext {
    font-size: 12px;
}